.search-container {
    margin: 20px;
    margin-top: 10em;
    margin-left: 23em;
  }
  
  input[type=text] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #495dc0;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5885c1;
  }