.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 800px; /* Adjust as needed */
  }
  
  .card {
    width: calc(33.33% - 20px); /* Adjusted width for three columns */
    height: 0;
    padding-bottom: calc(33.33% - 20px); /* Maintain square aspect ratio */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Adjusted margin-top for better spacing */
    overflow: hidden;
    position: relative;
    transition: transform 0.2s; /* Add transition for hover effect */
  }
  .card img {
    width: 100%; /* Ensures the image fills the container */
    height: 100%; /* Ensures the image fills the container */
    object-fit: cover; /* Ensures the image covers the entire container */
    position: absolute;
    top: 0;
    left: 0;
  }
  .card-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  }
  .cards {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px; /* Added margin-top for the cards */
  }
  .sort-by {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    margin-left: 210px;
    margin-top: 40px;
  }
  
  .sort-by span {
    margin-right: 10px;
  }
  
  .sort-by label {
    cursor: pointer;
    margin-right: 20px;
    padding: 8px 15px;
    border: 2px solid #007bff;
    border-radius: 20px;
    transition: all 0.3s ease;
  }
  
  .sort-by input[type="radio"] {
    display: none;
  }
  
  .sort-by input[type="radio"]:checked + label {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  